@model Cumulative1.Models.Teacher

<h1>@Model.TeacherFName @Model.TeacherLName</h1>

<div style="display:flex; flex-direction:column">
    <p1>Employee Number: @Model.EmployeeNumber</p1>
    <p1>Hire Date: @Model.hiredate</p1>
    <p1>Salary: $@Model.salary</p1>
</div>
