@model Cumulative1.Models.Teacher

<body style="background-image: linear-gradient(cyan, blue);">
    @if (Model != null)
    {
        <div style="display:flex; flex-direction:column; backdrop-filter:blur(4px); border-style:solid;border-width:1px;border-color:aqua;background-image: linear-gradient(rgb(255, 255, 255,0.3), rgb(255, 255, 255,0.1)); border-radius:5px; padding:10px;">
            <h1>@Model.TeacherFName @Model.TeacherLName</h1>
            <p>Employee Number: @Model.EmployeeNumber</p>
            <p>Hire Date: @Model.hiredate.ToString("yyyy-MM-dd")</p>
            <p>Salary: $@Model.salary</p>
            <p><a href="/TeacherPage/List" style="color:crimson; font-weight:bold">Back to list</a></p>
            <a style="color:crimson;" href="/TeacherPage/DeleteConfirm/@Model.TeacherId">Delete Information</a>
        </div>
    }
    else
    {
        <div style="text-align: center; color: crimson;">
            <p>Teacher information is unavailable. Please try again later or go back to the <a href="/TeacherPage/List" style="color:crimson; font-weight:bold">List of Teachers</a>.</p>
        </div>
    }
</body>


