﻿<div id="containershow">
    <nav>
        <a class="navlink" href="/StudentPage/List">Back To Student List</a>
    </nav>
    <h2>New Student</h2>
    <form method="POST" action="/StudentPage/Create">
        <div class="inputrow">
            <label for="StudentFname">First Name:</label>
            <input type="text" style="position:absolute; left:20%" id="StudentFname" name="StudentFname" />

        </div>
        <div class="inputrow">
            <label for="StudentLname">Last Name:</label>
            <input type="text" style="position:absolute; left:20%" id="StudentLname" name="StudentLname" />

        </div>
        <div class="inputrow">
            <label for="EmployeeNumber">Student Number:</label>
            <input type="text" style="position:absolute; left:20%" id="StudentNumber" name="StudentNumber" />
        </div>
        <div class="inputrow">
            <input style="background-color:lightgreen; margin-top:10px;" type="submit" value="Enroll new Student" />
        </div>
    </form>
</div>
