@model Cumulative1.Models.Student

<h1>@Model.StudentFName @Model.StudentLName</h1>

<div style="display:flex; flex-direction:column">
    <p1>Employee Number: @Model.StudentNumber</p1>
    <p1>enrole Date: @Model.enroldate</p1>
   
</div>
