@model IEnumerable<Cumulative1.Models.Course>

<h1>List of Courses</h1>

@foreach (Cumulative1.Models.Course CurrentCourse in Model)
{
    <div>
        <a href="/CoursePage/Show/@CurrentCourse.CourseId">@CurrentCourse.CourseCode - @CurrentCourse.CourseName</a>
    </div>

}
<a style="text-decoration:none; color:crimson;border-style: solid; border-color:tomato" href="/CoursePage/New">Add new Course</a>