﻿<div id="containershow">
    <nav>
        <a class="navlink" href="/CoursePage/List">Back To Student List</a>
    </nav>
    <h2>New Course</h2>
    <form method="POST" action="/CoursePage/Create">
        <div class="inputrow">
            <label for=" CourseCode">Course Code:</label>
            <input type="text" style="position:absolute; left:20%" id="CourseCode" name="CourseCode" />

        </div>
        <div class="inputrow">
            <label for="TeacherId">Teacher Id:</label>
            <input type="text" style="position:absolute; left:20%" id="StudentLname" name="StudentLname" />

        </div>
        <div class="inputrow">
            <label for="StartDate">Start Date:</label>
            <input type="text" style="position:absolute; left:20%" id="StartDate" name="StartDate" />
        </div>
        <div class="inputrow">
            <label for="FinishDate">Finish Date:</label>
            <input type="text" style="position:absolute; left:20%" id="FinishDate" name="FinishDate" />
        </div>
        <div class="inputrow">
            <label for="CourseName">Course Name:</label>
            <input type="text" style="position:absolute; left:20%" id="CourseName" name="CourseName" />
        </div>
        <div class="inputrow">
            <input style="background-color:lightgreen; margin-top:10px;" type="submit" value="Add new Course" />
        </div>
    </form>
</div>
