@model Cumulative1.Models.Course

<h1>@Model.CourseCode - @Model.CourseName</h1>

<div style="display:flex; flex-direction:column">
    <p1>Start Date: @Model.StartDate</p1>
    <p1>Finish Date: @Model.FinishDate</p1>
    <a href="/CoursePage/DeleteConfirm/@Model.CourseId">Delete Information</a>
</div>